* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button,
input {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: none;
}
button {
    cursor: pointer;
    &:hover {
        filter: brightness(0.95);
    }
    &:active {
        filter: brightness(0.90);
    }
}
html {
    background-color: hsl(0, 0%, 12%);
    font-size: 17px;
}
body {
    /* height: 100dvh; */
    overflow: hidden;
}
main {
    position: relative;
}
.logo {
    & img {
        height: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 50%;
        z-index: 1;
        &:hover {
            opacity: 70%;
        }
    }
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
span {
    display: inline-block;
    transition: 250ms;
}
.label {
    text-transform: capitalize;
}
.header {
    text-transform: uppercase;
    width: 8.5rem;
    margin-top: 0.25rem;
}
.row {
    display: flex;
}
.tables {
    display: flex;
    flex-direction: row;
    & .table {
        margin-left: 3px;
        color: aqua;
    }
    & .row {
        & span {
            border: 1px solid #666;
            padding: 0px 8px 0px 2px;
            margin: 0;
            text-align: right;
            vertical-align: middle;
            &.arrow {
                border: none;
                font-size: 1.25rem;
            }
        }
    }
    & .label {
        width: 6rem;
    }
    & .x, & .y {
        width: 3rem;
    }
    & .length {
        width: 3rem;
    }
    & .arrow {
        transition: 100ms;
        font-weight: 800;
    }
}
.pos {
    color: #0f0;
}
.neg {
    color: #f00;
}
.helpTables {
    color: #bbb;
    position: absolute;
    right: 8px;
    top: 0;
    & .helpTable {
        & span {
            border: 1px solid #555;
        }
        .label {
            width: 5rem;
        }
        .key {
            width: 3.5rem;
            text-align: center;
        }
    }
}
.fade {
    color: #666;
}
body * {
    /* border: 1px dotted red; */
}